.lineTable {
    border-bottom: 1px solid rgb(197, 193, 193);
    padding: 5px;
    height: 50px;
}

.lineTable, td {
    padding: 1rem;
}

.lineTable:hover {
    background-color: rgb(229, 235, 236);
}