body {
    background-color: #121214;
}

header {
    background-color: #09090A;
    border-bottom: 1px solid rgb(46, 46, 46);
}

.question {
    background-color: #333d4b;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 10px;
}